body {
    background-color: #0B1118;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: #FFFFFF; 
}

header {
	margin: 2px auto;
	background-color: #0B2A40;
	border: 1px solid #0B2A40;
	text-align: center;
}
header h1 {font-size: 30px;
    color: #FF8000;
    display: inline-block;
}
header h3 {font-size: 30px;
margin-top: -40px;
margin-bottom: 40px;
font-size: 10px;
color:#B4B4B0 
}

header img {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    text-align: left;
}

header h1
{
    font-family: 'Questrial', cursive;
}
nav
{
    background-color: #0B2A40;
    text-align: center;
    padding: 5px;
   
   
}   
nav a:hover, a:visited, a:active, a:link
{
    color:#B4B4B0;
    text-decoration: none;
   
}
nav a:hover
{
    text-decoration: underline;

}
nav ul li
{
    margin: 8px auto;
    list-style:none;
}
h1
{
    font-size: 30px;
    color: #FF8000;
    text-align: center;   
}
h2
{
    font-size: 20px;
    color: #FF8000;
    text-align: center;   
}
#main_img
{
padding: 10px;
}

#summary
{
position: relative;   
top: -180px;
clear: none;
padding: 20px;
margin-left: 20px;
background: #0B2A40;
width: 50%;

}
#forecast
{
position: relative;   
top: -200px;
display:block;
margin:auto;
padding: 20px;
margin-top: 20px;
width: 95%;

}
#article1
{
position: relative; 
padding-top:10px; 
top: -180px;
margin-top: 50px;


background: #0B2A40;
width: 100%;
}
#article1 p
{
    padding: 20px;
    font-size: 15px;
    line-height: 18px;
}

#article1 h2
{
    padding-left: 20px;
    text-align: left;    
}
#article1 h3
{
text-align: left;
margin-top: -10px;
padding-left: 20px;
font-size: 10px;
color:#B4B4B0   
}
#article1 img
{
    width: 90%;
    display:block;
    margin:auto;
}

