@media screen and (max-width: 414px){

    body {
        background-color: #0B1118;
        font-family: 'Questrial', sans-serif;
        font-size: 15px;
        color: #FFFFFF; 
        max-width: 414px;
    }
    #content
    {
        margin: 0 auto;
        width:100%;   
    }

    h1
    {
        font-size: 25px;
        color: #FF8000;
        text-align: center;   
    }
    h2
    {
        font-size: 20px;
        color: #FF8000;
        text-align: center;    
    }
    .separator
    {
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }

    a
    {
        color:#B4B4B0;    
    }

    /* header section */

    header {
        background-color: #0B2A40;
        padding: 10px;
      
    }
    header .container
    {
        display: flex;
        justify-content:center;
    }
    header h2
    {
        font-family: 'Questrial', cursive;
        margin-top: 35px;
        margin-bottom: -5px;
        
    }
    .motto
    { 
        font-size: 10px;
        color:#B4B4B0;
    }

    /* nav section */
    #menu
    {
        display: flex;
        font-size: 25px;
        background:  #677261;
        text-align: left;
        padding: 0 0 0 10px; 
        width: 100%;
        text-decoration: none;   

    }
    
    nav
    {
        background-color: #0B2A40;
        
    }
    nav ul
    {   
        display: flex;
        flex-flow: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav li a
    {
        display: block;
        text-align: center;
        padding: 10px;
        color: #ffffff;
        font-size: 13px;
        text-decoration: none;   
    }
    nav li a:hover 
    {
        background-color: #0B2A40;
        color: white;
    }
    .active
    {
        background-color: #677261;
        color: white;
        
    }
    
    .topnav #myLinks {
        display: none;
    }
   

    /* main section */
    #main1
    {
        position: relative;
        overflow: visible;
        
    }
    #img_bottom
    {
        max-width: 100%;
    
    }
    #summary
    {
        position: absolute;
        top: 60px;
        padding: 30px;
        margin-left: 20px;
        background: radial-gradient(#677261, #0B2A40);
        box-shadow: 0 0 2px #fff;
        width: 50%;
        opacity: 0.9;
    filter: alpha(opacity=10);
    }
    td
    {
        font-size: 15px;
    }
    .thetag
    {
        text-align: right;   
    }
    .thevalue
    {
        text-align: left; 
        color: #FF8000 ;
        font-weight: bold; 
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20px 20px 20px 20px;
        grid-column-gap: 2px;
        justify-content: center;
     
    }
      .item1 
      {
        justify-self: end;
        
      }
      .item2 
      {
        justify-self: start;
        color: #FF8000 ;
        font-weight: bold; 
      }
      .item3 
      {   
        justify-self: end;
      }
      .item4 
      {
        justify-self: start;
      }
      .item5
      {
        justify-self: end;
      }
      .item6 
      {
        justify-self: start;
      }
      .item7 
      {   
        justify-self: end;
      }
      .item8 
      {
        justify-self: start;
      }
      .item9
      {   
        justify-self: end;
      }
      .item10 
      {
        justify-self: start;
      }

    /* forecast section */
    #forecast
    {
        display: none;
    }

    /* article section */

    article
    {
        padding-top:10px; 
        margin-top: 70px;
        background: #0B2A40;
    }
    article p
    {
        padding: 20px;
        line-height: 20px;
        padding-bottom: 40px;
    }

    article h2
    {
        padding-left: 20px;
        text-align: left;    
    }
    article h3
    {
        text-align: left;
        margin-top: -10px;
        margin-bottom: 20px;
        padding-left: 20px;
        font-size: 10px;
        color:#B4B4B0   
    }
    article img
    {
        display:block;
        margin:auto;
        max-width: 90%;
        
    }

    /* contact section */

    #map
    {
        display:block;
        margin:auto;
        max-width: 100%;;
        
    }
    .contact
    {
        text-align: center;
        color: #B4B4B0;
    }
    .contact_title
    {
        font-weight: bold;
    }
    .social
    {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    }

    .img_social
    {
        width: 20px;     
    }

    /* footer section */
    footer
    {
        background: #0B2A40;
        text-align: center;
        padding: 10px;
        color: #B4B4B0;
    } 
}